{% extends "ccGestionFraisBundle::v_generale.html.twig" %}

{% block corps %}
    
    <h3>Navré mais vos identifiants sont incorrects</h3>
    <p>
        Pensez à vérifier si vous avez sélectionné le bon profil.
    </p>
    
{% endblock %}