{% extends "ccGestionFraisBundle:Comptable:v_sommaire.html.twig" %}

{% block contenu %}
        
        <h3>Fiches validées :</h3>

        {% if lesFiches|length == 0 %}
            <span>Pas de fiches validées pour le moment.</span>
        {% endif %}
        
        <ul>    
            {% for fiche in lesFiches %}
                <a href="{{ url('vueFicheRemboursement', {'idVis' : fiche.idVisiteur.id, 'mois' : fiche.mois}) }}">
                    <li>Fiche de {{ fiche.idvisiteur.prenom }} {{ fiche.idvisiteur.nom }} du {{ fiche.mois }}</li>
                </a>
            {% endfor %}
        </ul>
        
{% endblock %}